body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgb(40, 0, 48);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    max-width: 300px; /* Limita o tamanho máximo */
    border-radius: 10px;
}

h1 {
    margin: 20px 0;
}